body {
  background: #f7f9fc;
  color: #333;
  font-family: 'Arial', sans-serif;
}

h1 {
  color: #ffcc00;
  font-weight: bold;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.buttons .btn {
  margin: 10px;
}

#user-info {
  font-size: 1.2em;
}
